body {

    background-color: rgb(240, 240, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;

}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 60, 255);
    color: antiquewhite;
}

#otto{
    border-radius: 200px;
   
}

#André {
    display: i ;
}

.block1 {
   border-radius: 200px;
   background-color: blue; 
}
.block2 {
   border-radius: 200px;
   background-color: blue; 
}
.block3 {
   border-radius: 200px;
   background-color: blue; 
}
.block4 {
   border-radius: 200px;
   background-color: blue; 
}
.block5 {
   border-radius: 200px;
   background-color: blue; 
}